
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 50px;
}
button{
    font-size: 15px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
    cursor: pointer;
}
span{
    font-size: 20px;
    margin: 0 15px;
    background-color: rgb(222, 220, 220);
    padding: 5px 10px;
    border-radius: 5px;
}
button:hover{
    background-color: #45a049;
}